*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 184, 165);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}
#logo{
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;   
}
.menu{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    opacity: 70%;
}
.title h1{
    font-family: 'Roboto Mono', monospace;;
    text-align: center;
    font-size: 2vw;
    color: whitesmoke;
    padding: 20px 0;
    margin-bottom: 50px;
    background-image: url(../img/background1.jpg);
    background-position: center center;
    background-size: cover;
}
.menu:hover{
    opacity: 100%;
    transition: 0.4s;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
#galeria{
    margin-right: 50px;
}
nav{
    background-color:rgba(255, 255, 255, 0.3);
}
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
@media(max-width:1920px){
    #logo{
        display: inline-block;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .menu{
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        text-decoration: none;
        color: whitesmoke;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        margin-bottom: 10px;
        font-size: 18px;
        letter-spacing: 5px;
        opacity: 70%;
    }
    .menu:hover{
        opacity: 100%;
        transition: 0.4s;
        color: whitesmoke;
     
    }
    #galeria{
        margin-right: 50px;
    }
    nav{
        background-color:rgba(255, 255, 255, 0.3);
    }
    .photos{
        margin-top: 20px;
        background-color: whitesmoke;
    }
    .title h1{
        font-family: 'Roboto Mono', monospace;;
        text-align: center;
        font-size: 3vw;
        color: whitesmoke;
        padding: 20px 0;
        margin-bottom: 50px;
        background-image: url(../img/background1.jpg);
        background-position: center center;
        background-size: cover;
    }

    @media(max-width:768px){
        footer p{
            font-size: 2.5vw;
        }
    }
    @media(max-width:500px){
            .menu{
                margin-right: 10px;
                font-size: 25px;
            }
            #galeria{
                margin-right: 20px;
        }
        .title h1{
            font-size: 6vw;
    }
    @media(max-width:414px){
        .menu{
            margin-right: 10px;
            font-size: 22px;
        }
        #galeria{
            margin-right: 15px;
        }
        footer p{
        font-size: 3vw;
        }
    @media(max-width: 375px){
        .title h1{
            font-size: 7vw;
        }
        .menu{
            margin-right: 10px;
            font-size: 19px;
        }
        #galeria{
            margin-right: 12px;
        }  
        footer p{
        font-size: 3.5vw;
        }
    @media(max-width: 345px){
        .menu{
            margin-right: 8px;
            font-size: 15px;
        }
        #galeria{
            margin-right: 10px;
        }
        footer p{
            font-size: 4vw;
        }
}
